<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.DeviceTmpMapper">
    <select id="searchDeviceData" resultType="DeviceTmp">
        select * from ${tableName} where addr=#{meterAddress} and centerID = #{centerId} and readDate=#{day}
    </select>
    <select id="existTable" parameterType="String" resultType="Integer">
        select count(*)
        from information_schema.TABLES
        where table_name=#{tableName}
    </select>
    <update id="createNewTable" parameterType="String">
        CREATE TABLE  ${tableName}
				(addr varchar(20) not NULL,
				readDate int not NULL,
				centerID int not NULL,
				showValue numeric(19,4),
				fshowValue numeric(19,4),
				meterState int,
				commState int,
				isUse int,
				readTime datetime,
				enprNo varchar(20),
				PRIMARY KEY (addr,readDate,centerID))
    </update>
    <update id="updateDeviceData">
        update ${tableName} set showValue=#{data},fshowValue=#{data},meterState=#{state},commState=#{state},readTime=#{now} where addr=#{meterAddress} and centerID = #{centerId} and readDate=#{day}
    </update>
    <update id = "updateValveState">
        update ${tableName} set meterState=#{valveState} where addr=#{meterAddress} and centerID = #{centerId} and readDate=#{day}
    </update>
    <insert id="insertNewData">
        insert into  ${tableName} (addr,readDate,centerID,showValue,fshowValue,meterState,commState,isUse,readTime,enprNo)
        VALUES  (#{meterAddress},#{day},#{centerId},#{data},#{data},#{state},#{state},0,#{now},#{enprNo})
    </insert>
    <select id="searchDevice" resultType="DBMeter">
        select * from t_device where id in (select deviceId from t_deviceRelation where centerId=#{centerId}) and iAddr = #{meterAddress}
    </select>
    <update id = "updateStrobeState">
        update t_device set StrobeStatue = #{state} where id = #{id}
    </update>
</mapper>